.loading {
    /* opacity: 0.5; */
    z-index: 100;

    .loading-item,
    img {
        animation-duration: 1.6s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: placeholderAnimate;
        background: #f6f7f8;
        background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
        background-size: 1300px !important;
        z-index: 100;
        color: transparent !important;

        li {
            visibility: hidden !important;
        }
    }
}

@keyframes placeholderAnimate {
    0% {
        background-position: -680px 0;
    }
    100% {
        background-position: 680px 0;
    }
}
